.container{
    max-width: 1280px;
    margin: 0 auto;
  }

.about__text{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  
  }
  
  .info__wrapper{
    max-width: 65%;
  }
  
  .about__img{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom:100px;
  }
  
  .about__us,.plan{
    background: #3A1D00;
  }


 

  @media (max-width: 768px) {

    .about__h3{
      padding-bottom: 30px;
    }
    .about__text{
      width: 100%;
      flex-wrap: nowrap;
      justify-content:center;
      flex-flow: column nowrap;
    }

    .about__img{
      flex-wrap: nowrap;
      justify-content:center;
      flex-flow: column nowrap;
    }
  }
  

  /* @media (max-width: 768px) {
    
  } */